  IF EXISTS ( SELECT    *
              FROM      sys.objects
              WHERE     type = 'U'
                        AND name = 'System_City' )
    BEGIN
        DROP TABLE System_City;
    END;

CREATE TABLE [dbo].[System_City](
	[RegionId] [varchar](64) NOT NULL CONSTRAINT [DF_Base_City_RegionId]  DEFAULT (newid()),
	[ParentId] [varchar](64) NULL,
	[RegionName] [nvarchar](100) NULL,
	[RegionType] [int] NULL,
	[ZipCode] [nvarchar](50) NULL,
	[Quhao] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[CreateTime] [datetime] NULL CONSTRAINT [DF_Base_City_CreateTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_BASE_CITY] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[System_City] ([RegionId], [ParentId], [RegionName], [RegionType], [ZipCode], [Quhao], [Status], [CreateTime]) VALUES (N'1', N'0', N'北京市', 1, N'110000', NULL, 1, CAST(N'2016-08-24 11:59:16.160' AS DateTime))
INSERT [dbo].[System_City] ([RegionId], [ParentId], [RegionName], [RegionType], [ZipCode], [Quhao], [Status], [CreateTime]) VALUES (N'10', N'2', N'房山区', 3, N'110111', NULL, 1, CAST(N'2016-08-24 11:59:16.187' AS DateTime))
INSERT [dbo].[System_City] ([RegionId], [ParentId], [RegionName], [RegionType], [ZipCode], [Quhao], [Status], [CreateTime]) VALUES (N'100', N'88', N'肥乡县', 3, N'130428', NULL, 1, CAST(N'2016-08-24 11:59:16.240' AS DateTime))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'区域编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City', @level2type=N'COLUMN',@level2name=N'RegionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父区域编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'区域名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City', @level2type=N'COLUMN',@level2name=N'RegionName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'区域类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City', @level2type=N'COLUMN',@level2name=N'RegionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮编' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City', @level2type=N'COLUMN',@level2name=N'ZipCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电话区号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City', @level2type=N'COLUMN',@level2name=N'Quhao'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态（1启用，0作废）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'城市表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'System_City'
GO
